<!--
File:       projects.ejs
Name:       Ziyan Liu
Student Id: 301133339
Date:       2022-10-01
-->

<%- include ('partials/header.ejs') %>

    <%- include ('partials/main_nav.ejs') %>

        <!--Main Content-->

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4"></h1>


            </div>
        </main>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Project</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">

                            <p>
                                <span style="font-size:large"> #1 Software Engineering Group Project:</span> <br><br>
                                - Communications Interfaces<br>
                                - User Classes and Characteristics<br>
                                - Nonfunctional Requirements<br>
                            </p>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">

                            <p>
                                <span style="font-size:large"> #2 Software System Design Group Project:</span> <br><br>
                                - UML Domain Class Diagram<br>
                                - Context Flow Diagram<br>
                                - State Diagram<br>
                            </p>
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">

                            <p>
                                <span style="font-size:large"> #3 Software Engineering Group Project:</span> <br><br>
                                - Document Conventions<br>
                                - Intended Audience and Reading Suggestions<br>
                                - Product Scope<br>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <%- include ('partials/bottom_nav.ejs') %>

            <%- include ('partials/footer.ejs') %>