<!--
File:       services.ejs
Name:       Ziyan Liu
Student Id: 301133339
Date:       2022-10-01
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--Main Content-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"></h1>
      </div>
    </main>
    <section class="page-section portfolio" id="portfolio">
      <div class="container">

        <!-- Services Section Heading-->

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Services</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
      </div>

      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center">
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
            <img class="img-fluid" src="/Assets/images/Java.png" alt="Java" width="100px" height="75px" />
            <h3>Java Programming</h3>
          </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
            <img class="img-fluid" src="/Assets/images/html.png" alt="html" width="100px" height="75px" />
            <h3>Web Interface Design</h3>
          </div>
        </div>
        <!-- Portfolio Item 3-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
            <img class="img-fluid" src="/Assets/images/C-Sharp.webp" alt="C#" width="100px" height="75px"/>
            <h3>Programming I II III</h3>
          </div>
        </div>
        <!-- Portfolio Item 4-->
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
            <img class="img-fluid" src="/Assets/images/js.png" alt="javascript" width="100px" height="75px"/>
            <h3>Client-Side Web Development</h3>
          </div>
        </div>
        <!-- Portfolio Item 5-->
        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
            <img class="img-fluid" src="/Assets/images/Unix.png" alt="Unix/Linux" width="100px" height="75px"/>
            <h3>Unix/Linux Operating System</h3>
          </div>
        </div>
        <!-- Portfolio Item 6-->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
            <img class="img-fluid" src="/Assets/images/software.jpg" alt="Software" width="100px" height="75px"/>
            <h3>Software System Design</h3>
          </div>
        </div>
      </div>
      </div>
    </section>

    </section>
    <%- include ('partials/bottom_nav.ejs') %>

      <%- include ('partials/footer.ejs') %>